<body>
<style>
  .chatboxmessagecontent {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
    -ms-word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  .chatboxmessagecontent time {
    font-size: 9px;
    color: #ccc;
  }
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .li .self {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .self .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
  }

</style>
<li class="<%=  self_or_other(message) %>">
<div class="chatboxmessagecontent">

      <p><%= message.body %></p>
  <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
    <%= message.user.email %> • <%= message.created_at.strftime("%H:%M %p") %>
  </time>
</div>
</li>
</body>
